/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0 0 1.5rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
/* Gets rid of bullets and numbers */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */

html {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

html:focus-within {
  scroll-behavior: smooth; /* Adds smooth scrolling when tabbing */
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: #36bf7f;
}

a:hover,
a:focus {
  color: #d96666;
}

/* Make images easier to work with */
/* By default, an image is shown as it is. With this fix, it will never spill outside the container. */
img,
picture svg {
  max-width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* AFTER RESET */

html {
  background-color: #fff;
}

body {
  background-color: #3e80c9;
}

.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* ! Header Start */

.header .masthead {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.header .logo__name {
  font-size: 1.7rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.header .nav__li {
  list-style: none;
}

.header .nav__link {
  text-decoration: none;
  color: #fff;
}

.header .nav__list {
  transition: all 0s;
  margin: 0;
  align-self: center;
  display: grid;
  gap: 4rem;
}

/* ! Header End */

.burger__span__top,
.burger__span__centre,
.burger__span__bottom {
  background-color: #fff;
  content: "";
  padding: 0.2rem;
  transition: all 0.3s;
  border-radius: 10px;
  box-shadow: 0 0.1rem 0.4rem black;
}

.burger__span__top.burger__active {
  transform: rotate(45deg) translate(10px, 12px);
  box-shadow: 0 0 0 transparent;
}

.burger__span__centre.burger__active {
  background-color: transparent;
  box-shadow: 0 0 0 transparent;
}

.burger__span__bottom.burger__active {
  transform: rotate(-45deg) translate(10px, -12px);
  box-shadow: 0 0 0 transparent;
}

.burger__menu {
  width: 3.5rem;
  padding: 0.3rem;
  display: inline-flex;
  gap: 0.6rem;
  flex-direction: column;
  z-index: 999999999999999;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo__div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__div {
  background-color: #394a59;
  /* position absolute, priority over the rest */
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  transform: translateX(100%);
  transition: transform 0.3s;
}

.nav__div__active {
  transition: transform 0.5s;
  transform: translateX(0);
}

/* ! MEDIA QUERY NAV */

@media only screen and (min-width: 45em) {
  .burger__menu {
    position: absolute;
    top: -9999999999999999999999rem;
  }
  .nav__div {
    position: initial;
    transform: translateX(0);
    transition: all 0;
    width: initial;
    height: initial;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
  }
  .header .nav__list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
}

@media only screen and (min-width: 60em) {
}

/* BANNER STYLES */

.banner {
  background-image: linear-gradient(to bottom, #00000080, #00000080),
    url(../images/test-picture-coffee-mac.jpg);
  background-position: center;
  background-size: cover;
}

.banner {
  min-height: 60vh;
  display: flex;
  justify-content: flex-start; /* horizontal center */
  align-items: center; /* vertical center */
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.banner__h2 {
  color: #fff;
}

.banner__p {
  color: #fff;
}

/* button styles */
.btn {
  display: inline-block;
  padding: 0.55em 1.5em 0.5em;
  background-color: #394a59;
  border: 0.125rem solid #394a59;
  color: #fff;
  border-radius: 0.25em;

  /* link necessary styles */
  text-decoration: none;

  /* button necessary styles */
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.btn:hover,
.btn:focus-visible {
  background-color: #59758d;
  border-color: #59758d;
}
