:root {
  --ocean-green: #5fbb97ff;
  --charcoal: #294c60ff;
  --white: rgb(236, 236, 236);
  --black: #020212;
  --imperial-red: rgb(222, 32, 54);
  --carolina-blue: #00a5e0ff;
  --grey: #333;
  --text-grey: #959393;
}
