.banner1 {
  background-image: linear-gradient(to bottom, #0009, #0009),
    url("../images/code.jpg");
  background-position: center;
  background-size: cover;
}

.banner1 .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 60vh;
  padding: 3rem 1.5rem;
}

.banner2 {
  background-image: linear-gradient(to bottom, #0009, #0009),
    url("../images/portfolio.jpg");
  background-position: center;
  background-size: cover;
}

.banner2 .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 60vh;
  padding: 3rem 1.5rem;
}

.banner__content {
  width: min(35em, 100%);
}

.banner__title {
  font-size: 1.756rem;
  line-height: 1.3;
  color: var(--carolina-blue);
}

.banner__text {
  font-size: 1.15rem;
  color: var(--white);
  text-shadow: 3px 3px 3px black;
}

@media only screen and (min-width: 45em) {
  .banner__title {
    font-size: 2.069rem;
  }

  .banner__text {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 60em) {
  .banner1 .container {
    min-height: 95vh;
  }

  .banner__title {
    font-size: 2.444rem;
  }

  .banner__text {
    font-size: 1.25rem;
  }
}
