.btn,
input[type="submit"] {
  /* common styles */
  display: inline-block;
  padding: 0.55em 1.5em 0.5em;
  background-color: var(--charcoal);
  border: 0.125rem solid var(--charcoal);
  color: #fff;
  border-radius: 0.25em;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;

  /* link necessary styles */
  text-decoration: none;

  /* button necessary styles */
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--carolina-blue);
  border-color: var(--carolina-blue);
  color: var(--white);
}

.btn--secondary {
  background-color: var(--imperial-red);
  border-color: var(--imperial-red);
  color: var(--white);
  font-weight: bold;
}

.btn--secondary:hover,
.btn--secondary:focus-visible {
  background-color: var(--carolina-blue);
  border-color: var(--carolina-blue);
  color: var(--white);
}
