.card-group__title {
  color: var(--carolina-blue);
  padding-top: 1rem;
}

.card-group ul li a {
  text-decoration: none;
}

.card__project {
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 6;
  border: 1px solid var(--grey);

  overflow: hidden;
  box-shadow: 0 0.25rem 0.5rem #0002;
  background-color: transparent;
  color: var(--text-grey);
  text-decoration: none;

  // transitions
  transition: transform 0.2s, box-shadow 0.2s;
  -webkit-transition: transform 0.2s, box-shadow 0.2s;
  -moz-transition: transform 0.2s, box-shadow 0.2s;
  -ms-transition: transform 0.2s, box-shadow 0.2s;
  -o-transition: transform 0.2s, box-shadow 0.2s;
}

.card__project p {
  font-size: 0.875rem;
  margin: 0;
}

.card__project:hover,
.card__project:focus-visible {
  transform: translateY(-0.5rem);
}

.card__icons {
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card__icons:hover,
.card__icons:focus-visible {
  transform: translateY(-0.5rem);
}

.card__icons img {
  width: 50px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
}

.card__content {
  padding: 0rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: flex-start;
}

.card__text {
  flex-grow: 2;
}

/* Media query for tablet screens */
@media only screen and (min-width: 45em) {
  .card-group .container {
    padding: 2rem;
  }

  .card__title {
    color: var(--text-grey);
    font-size: 1.08rem;
  }
}

/* CARD GROUP PROJECTS START */

.card-group__projects {
  background-color: var(--black);
}

// wrapper
.grid-group__ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // grid-template-rows: auto auto auto auto auto;

  gap: 1rem;
  padding-left: 0;
  margin: 0;
}

.card__project img {
  max-width: 100%;
  display: block;
}

.card-text__project {
  padding: 1rem;
}

// ! TECHNOLOGIES CARDS

.technologies__section {
  background-color: var(--black);
}

.card-group__logos {
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0 2rem 0;
  gap: 0.2rem;
}

.card-group__logos img {
  width: 100px;
  height: auto;
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

/* Responsive adjustments */
@media only screen and (min-width: 45em) {
  .card-group__projects .container {
    grid-template-columns: repeat(var(--cols), 1fr);
    gap: 2rem;
  }
}

/* CARD GROUP PROJECTS END */

/* Add the keyframes for the animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply animations to the icons */
.card__icons {
  animation: fadeIn 1s ease-in-out;
}

.card__icons img {
  animation: slideInUp 0.5s ease-in-out;
}
