input,
textarea,
select {
  display: block;
  width: 100%;
  padding: .25rem .35rem;
  border: .0625rem solid #ccc;
  border-radius: .25rem;
  font-size: inherit;
  font-family: inherit;
  color: #000;
  background-color: #fff;
}

select {
  padding: .375rem .35rem;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):focus-visible,
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):valid,
textarea:valid,
select:valid {
  border-color: var(--color-secondary);
}

label,
.label {
  display: block;
  width: 100%;
  font-size: .875rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: .25rem;
}

.checkbox-radio {
  display: contents;
}

.checkbox-radio__item {
  text-transform: none;
  font-weight: normal;
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  width: auto;
}

.checkbox-radio__item + .checkbox-radio__item {
  margin-left: 1.5rem;
}

.checkbox-radio__item input,
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--color-secondary);
  margin: 0;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background-size: 100% auto;
  background-position: center;
}

input[type="radio"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Ccircle cx='128' cy='128' r='70.4'/%3E%3C/svg%3E");
}

input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath fill='none' stroke='%23000' stroke-miterlimit='10' stroke-width='50' d='M49.9 130.1l50.8 50.7L206.1 75.2'/%3E%3C/svg%3E");
}

.checkbox-radio__item span {
  font-size: 1rem;
}

@media only screen and (min-width: 45em) {

  .form-grid {
    --cols: 2;
  }
} 