.header {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
  }
  .logo__div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .logo__name {
    font-weight: bold;
    color: var(--charcoal);
    cursor: pointer;
    text-decoration: none;
  }

  .nav__div {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  // Makes sure the body doesn't scroll when the menu is open

  .nav__div .nav__list .nav__li a {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .nav__link {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    border-radius: 5px;
  }

  .nav__link i {
    display: inline-block;
    margin-right: 0.5rem;
    color: var(--text-grey); /* Icon color */
  }

  .nav__link p {
    margin: 0;
    color: var(--text-grey); /* Icon color */
  }

  @media only screen and (min-width: 50em) {
    .nav__link {
      text-decoration: none;
      color: var(--charcoal);
      padding: 0.35rem;
    }
  }

  /* button styles */

  .btn {
    display: inline-block;
    padding: 0.55em 1.5em 0.5em;
    background-color: var(--charcoal);
    border: 0.125rem solid var(--charcoal);
    color: var(--white);
    border-radius: 0.25em;

    /* link necessary styles */
    text-decoration: none;

    /* button necessary styles */
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    &:hover,
    &:focus-visible {
      background-color: #59758d;
      border-color: #59758d;
    }
  }
}

/* ! MEDIA QUERY NAV */

@media only screen and (min-width: 50em) {
  .header {
    .masthead {
      display: grid;
      grid-template-columns: 8fr 4fr;
    }

    .nav__div {
      display: flex;
      flex-direction: row;
      align-items: center;

      gap: 4rem;
    }
    .nav__list {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      padding: 0;
    }
  }
}
