header {
  background-color: var(--white);
}

.header {
  .masthead {
    display: flex;
    justify-content: space-between;
    color: #fff;
  }

  .logo__div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0 1rem 0;
  }

  .logo__name {
    font-weight: bold;
    color: var(--charcoal);
    cursor: pointer;
  }

  .nav__div {
    background-color: var(--charcoal);
    /* position absolute, priority over the rest */
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    transform: translateX(100%);
    transition: transform 0.3s;
  }

  .nav__div__active {
    transition: transform 0.5s;
    transform: translateX(0);
  }

  .nav__div .nav__list .nav__li a {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .nav__link {
    text-decoration: none;
  }

  @media only screen and (min-width: 50em) {
    .nav__link {
      text-decoration: none;
      color: var(--charcoal);
      padding: 0.35rem;
      border-radius: 5px;
    }

    .nav__link:hover {
      background-color: var(--carolina-blue);
      color: var(--white);
    }
  }

  .nav__list {
    transition: all 0s;
    margin: 0;
    align-self: center;
    display: grid;
    gap: 4rem;
    list-style: none;
  }

  /* button styles */

  .btn {
    display: inline-block;
    padding: 0.55em 1.5em 0.5em;
    background-color: var(--charcoal);
    border: 0.125rem solid var(--charcoal);
    color: var(--white);
    border-radius: 0.25em;

    /* link necessary styles */
    text-decoration: none;

    /* button necessary styles */
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    &:hover,
    &:focus-visible {
      background-color: #59758d;
      border-color: #59758d;
    }
  }
}

.burger__menu {
  width: 3.5rem;
  padding: 0.25rem;
  display: inline-flex;
  gap: 0.6rem;
  flex-direction: column;
  z-index: 999999999999999;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .burger__span__top,
  .burger__span__centre,
  .burger__span__bottom {
    background-color: var(--white);
    content: "";
    padding: 0.2rem;
    transition: all 0.3s;
    border-radius: 10px;
    box-shadow: 0 0.1rem 0.4rem black;
  }

  .burger__span__top.burger__active {
    transform: rotate(45deg) translate(10px, 12px);
    box-shadow: 0 0 0 transparent;
  }

  .burger__span__centre.burger__active {
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
  }

  .burger__span__bottom.burger__active {
    transform: rotate(-45deg) translate(10px, -12px);
    box-shadow: 0 0 0 transparent;
  }
}

/* ! MEDIA QUERY NAV */

@media only screen and (min-width: 50em) {
  .header {
    .masthead {
      display: grid;
      grid-template-columns: 8fr 4fr;
    }
    .burger__menu {
      position: absolute;
      top: -9999999999999999999999rem;
    }
    .nav__div {
      position: initial;
      transform: translateX(0);
      transition: all 0;
      width: initial;
      height: initial;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      background-color: transparent;
    }
    .nav__list {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      padding: 0;
    }
  }
}
